body{
    background-color: rgb(43, 43, 43);
    color: rgba(245, 245, 245, 0.911);
    background-image: url("../images/bg.jfif");
    height: 100%;
    overflow: scroll;
    
    scrollbar-color: transparent;
}
body::-webkit-scrollbar {
    display: none;
}
.cooloer{
    background-color: rgb(43, 43, 43);
    position: fixed;
    width: 100%;
    height: 101.4%;
    margin: -21px 0px 0px -9px;
    z-index: -1;
    opacity: 0.95;
}
.blockier{
    width: fit-content;
    display: flex;
    margin: auto;
}
.block{
    width: 235px;
    margin: 20px;
    background: linear-gradient(45deg, #302f2f, #4d4c4c);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 1;
}
.hero{
    width: 100%;
    height: 50px;
    background-color: rgb(117, 159, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rest_cont{
    margin: 10px;
}
.price{
    font-size: xx-large;
    color: lightblue;
}
.main_desc{
    margin-top: -25px;
}
.colored_price{
    color: rgb(240, 139, 139);
}
ul{
    line-height: 1.9;
}
.footman{
    font-size: small;
    color: rgba(245, 245, 245, 0.589);
}









/* for smaller screens */
@media only screen and (max-width: 840px) {
    .blockier{
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .block{
        width: 45%;
    }
    /* .cooloer{
        background-color: rgb(43, 43, 43);
        position: absolute;
        width: 100%;
        height: 140%;
        margin: -21px 0px 0px -10px;
        z-index: -1;
        opacity: 0.95;
    } */
}

@media only screen and (max-width: 818px) {
    .blockier{
        width: calc(100% - 300px);
        display: flex;
        align-items: center;
    }
    .block{
        width: 95%;
    }
    /* .cooloer{
        background-color: rgb(43, 43, 43);
        position: absolute;
        width: 100%;
        height: 150%;
        margin: -21px 0px 0px -10px;
        z-index: -1;
        opacity: 0.95;
    } */
}


@media only screen and (max-width: 806px) {
    .blockier{
        width: calc(100% - 282px);
        display: flex;
        align-items: center;
    }
    .block{
        width: 95%;
    }
    /* .cooloer{
        background-color: rgb(43, 43, 43);
        position: absolute;
        width: 100%;
        height: 150%;
        margin: -21px 0px 0px -10px;
        z-index: -1;
        opacity: 0.95;
    } */
}

@media only screen and (max-width: 755px) {
    .blockier{
        width: calc(100% - 232px);
        display: flex;
        align-items: center;
    }
    
    /* .cooloer{
        background-color: rgb(43, 43, 43);
        position: absolute;
        width: 100%;
        height: 150%;
        margin: -21px 0px 0px -10px;
        z-index: -1;
        opacity: 0.95;
    } */
}

@media only screen and (max-width: 650px) {
    .blockier{
        width: calc(100% - 132px);
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 580px) {
    .blockier{
        width: calc(100% - 40px);
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    .blockier{
        width: calc(100% - 10px);
        display: flex;
        align-items: center;
    }
}

